---
import '../styles/global.css';
import { Greeting } from '../components/Greeting';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>my_portfolio</title>
	</head>
	<body>
		<h1 class="text-3xl font-bold underline">my_portfolio scaffold</h1>
		<Greeting name="Tiago" client:load />
	</body>
</html>
